<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.calcifer.weight.repository.UserSlaveMapper">
    <!--从机档案-->

    <!--新增 wqw 20210811-->
    <insert id="add" parameterType="map">
        insert into wg_user_slave(id,
                                  slave_id,
                                  user_id,
                                  create_time)
        values (#{id},
                #{slaveId},
                #{userId},
                #{createTime})
    </insert>

    <!--查询  wqw 20210811-->
    <select id="queryUserSlaveInfo" resultType="UserSlaveInfo">
        select
        a.id,
        a.slave_id slaveId,
        a.user_id userId,
        a.create_time createTime,
        b.slave_name name,
        c.real_name realName,
        b.slave_code slaveCode,
        b.status
        from wg_user_slave a
        left join wg_slave_info b on a.slave_id = b.id
        left join sys_user c on a.user_id = c.id
        <where>
            <if test="slaveId != null and slaveId != ''">
                and a.slave_id = #{slaveId}
            </if>
        </where>
    </select>


    <delete id="delete" parameterType="map">
        delete
        from wg_user_slave
        where id = #{id}
    </delete>
</mapper>
