<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.calcifer.weight.repository.CardMapper">
    <!--车辆档案-->

    <!--查询  -->
    <select id="getTruckInfo" resultType="truckInfo">
        select
        ID,
        cardNum,
        carNum,
        tare,
        faHuo,
        shouHuo,
        goods,
        spec,
        memo,
        backup1,
        backup2,
        backup3,
        backup4,
        backup5,
        type,
        bundle,
        price,
        scale,
        backup10,
        backup11,
        backup12,
        backup13,
        backup14
        from tbl_card
        <where>
            <if test="cardNum != null and cardNum != ''">
                and cardNum = #{cardNum}
            </if>
        </where>
    </select>

</mapper>
