<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.calcifer.weight.repository.SlaveMapper">
    <!--从机档案-->

    <!--新增 wqw 20210811-->
    <insert id="add">
        insert into wg_slave_info(id,
                                  slave_ip,
                                  slave_name,
                                  slave_code,
                                  coil_name,
                                  coil_num,
                                  discrete_name,
                                  discrete_num,
                                  create_time,
                                  remark,
                                  status)
        values (#{id},
                #{slaveIp},
                #{slaveName},
                #{slaveCode},
                #{coilName},
                #{coilNum},
                #{discreteName},
                #{discreteNum},
                #{createTime},
                #{remark},
                #{status})
    </insert>

    <!--查询  wqw 20210811-->
    <select id="querySlaveInfo" resultType="SlaveInfo">
        select
        id,
        slave_ip as slaveIp,
        slave_name as slaveName,
        slave_code as slaveCode,
        coil_name as coilName,
        coil_num as coilNum,
        discrete_name as discreteName,
        discrete_num as discreteNum,
        create_time as createTime,
        remark,
        status
        from wg_slave_info
        <where>
            <if test="slaveIp != null and slaveIp != ''">
                and slave_ip = #{slaveIp}
            </if>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="keywords != null and keywords != ''">
                and (slave_ip LIKE '%' #{keywords} '%' or slave_name LIKE '%' #{keywords} '%' or slave_code LIKE '%'
                #{keywords} '%' or coil_name LIKE '%' #{keywords} '%' or discrete_name LIKE '%' #{keywords} '%')
            </if>
        </where>
    </select>

    <!--去重 wqw 20210811-->
    <select id="count" resultType="Integer">
        select count(1) from wg_slave_info
        <where>
            <if test="slaveIp != null and slaveIp != ''">
                and slave_ip = #{slaveIp}
            </if>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
        </where>
    </select>

    <!--修改  wqw 20210811-->
    <update id="update" parameterType="map">
        update wg_slave_info
        <set>
            <if test="slaveIp != null and slaveIp != ''">
                slave_ip = #{slaveIp},
            </if>
            <if test="slaveName != null and slaveName != ''">
                slave_name = #{slaveName},
            </if>
            <if test="slaveCode != null and slaveCode != ''">
                slave_code = #{slaveCode},
            </if>
            <if test="coilName != null and coilName != ''">
                coil_name = #{coilName},
            </if>
            <if test="coilNum != null and coilNum != ''">
                coil_num = #{coilNum},
            </if>
            <if test="discreteName != null and discreteName != ''">
                discrete_name = #{discreteName},
            </if>
            <if test="discreteNum != null and discreteNum != ''">
                discrete_num = #{discreteNum},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
        </set>
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
        </where>
    </update>

    <delete id="delete">
        delete
        from wg_slave_info
        where id = #{id}
          and status = '2'
    </delete>
</mapper>
