<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.calcifer.weight.repository.UserMapper">

    <!-- SQL -->
    <!-- 添加 -->
    <insert id="addUser" parameterType="UserPO">
        insert into sys_user (id,
                              pwd,
                              name,
                              status,
                              phone,
                              create_time,
                              real_name,
                              customer_status,
                              role_id,
                              area_id)
        values (#{id},
                #{pwd},
                #{name},
                #{status},
                #{phone},
                #{createTime},
                #{realName},
                0,
                #{roleId},
                #{areaId})
    </insert>
    <update id="update">
        update sys_user
        <set>
            <if test="name !=null and name !=''">
                name = #{name}
            </if>
            <if test="realName !=null and realName !=''">
                ,real_name = #{realName}
            </if>
            <if test="phone !=null and phone !=''">
                ,phone = #{phone}
            </if>
            <if test="pwd !=null and pwd !=''">
                ,pwd = #{pwd}
            </if>
            <if test="status !=null and status !=''">
                ,status = #{status}
            </if>
            <if test="customerStatus != null and customerStatus != ''">
                ,customer_status = #{customerStatus}
            </if>
            <if test="managerCustomer != null and managerCustomer != ''">
                ,manager_customer = #{managerCustomer}
            </if>
            <if test="areaId != null and areaId != ''">
                ,area_id = #{areaId}
            </if>
            <if test="roleId != null and roleId !=''">
                ,role_id = #{roleId}
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updatePwd" parameterType="map">
        update sys_user
        set pwd = #{pwd}
        where name = #{name}
          and phone = #{phone}
    </update>
    <!-- 删除 -->
    <delete id="delete">
        delete
        from sys_user
        where id = #{id}
    </delete>
    <!-- 根据name或id 查询 -->
    <select id="queryUser" parameterType="UserPO" resultType="UserPO">
        select
        id,
        pwd,
        name,
        phone,
        status,
        create_time,
        real_name,
        area_id,
        manager_customer,
        customer_status,
        role_id
        from sys_user
        <where>
            <if test="name!=null and name!=''">
                name=#{name}
            </if>
            <if test="id!=null and id!=''">
                and id=#{id}
            </if>
        </where>
    </select>
    <!-- 根据id 查询 -->
    <select id="queryUserByIds" resultType="userPO">
        select
        a.id,
        a.pwd,
        ISNULL(a.name,'') name,
        a.phone,
        a.status,
        ISNULL(a.area_id,''),
        a.create_time,
        ISNULL(a.real_name,''),
        ISNULL(a.customer_status,''),
        ISNULL(a.role_id,''),
        ISNULL(b.name,'') roleName
        from sys_user a left join sys_role b on b.id = a.role_id
        <where>
            <if test="userIds !=null">
                and a.id in
                <foreach collection="list" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        order by create_time desc
    </select>

    <!-- 根据id 查询 -->
    <select id="pageList" parameterType="map" resultType="map">
        select
        id user_id,
        name,
        phone,
        status,
        area_id,
        role_id,
        real_name,
        from sys_user
        <where>
            <if test="areaId!=null and areaId!=''">
                area_id = #{areaId}
            </if>
            <if test="roleId!=null and roleId!=''">
                and role_id = #{roleId}
            </if>
            <if test="status!=null and status!=''">
                and status = #{status}
            </if>
        </where>
    </select>
</mapper>